/* style.css */

body {margin: 0px; padding: 0px;
    color: #000; background: #FFF;
    font-family: Arial, sans-serif;
    border-top: 2px solid black;
}
header {
    height: 3em;
    border-bottom: 1px dotted black;
    border-top: 1px solid black;
}
header span{
    font: 120% Georgia,serif;
    color: black;
    float: right;
    margin-right: 2em;
    margin-top: 0.6em;
}
header img {
    margin-top: 0.5em;
    margin-left: 2em;
}
nav {
  float: left;
    margin-top: 2em;
    margin-left: 2em;
    width: 13em;
}
nav ul {
    list-style-type: none;
    padding-left: 0em;
    margin-left: 1em;

}
nav ul li {
    font-size: 80%;
    border-bottom: 1px dotted;
    margin-bottom: 0.3em;
}
nav h2 {
    font: 110% Georgia,serif;
    border-bottom: 1px dotted;
    color: #000;
}
nav a {text-decoration: none; color: black}
section {display: none;
}